@font-face {
    font-family: Gagalin;
    src: url("../fonts/Gagalin.otf"),
    	 url("../fonts/gagalin-webfont.eot"),
    	 url("../fonts/gagalin-webfont.ttf") format("truetype"),
    	 url("../fonts/gagalin-webfont.woff") format("woff"),
    	 url("../fonts/gagalin-webfont.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lifehack;
    src: url("../fonts/Lifehack.otf"),
         url("../fonts/Lifehack-webfont.eot"),
    	 url("../fonts/Lifehack-webfont.ttf") format("truetype"),
    	 url("../fonts/Lifehack-webfont.woff") format("woff"),
    	 url("../fonts/Lifehack-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-B.ttf"),
         url("../fonts/Ubuntu-B-webfont.eot"),
    	 url("../fonts/Ubuntu-B-webfont.ttf") format("truetype"),
    	 url("../fonts/Ubuntu-B-webfont.woff") format("woff"),
    	 url("../fonts/Ubuntu-B-webfont.woff2") format("woff2");    
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Light.ttf") format("truetype"),
         url("../fonts/Ubuntu-Light-webfont.eot"),
    	 url("../fonts/Ubuntu-Light-webfont.woff") format("woff"),
    	 url("../fonts/Ubuntu-Light-webfont.woff2") format("woff2");    
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Medium.ttf") format("truetype"),
         url("../fonts/Ubuntu-Medium-webfont.eot"),
    	 url("../fonts/Ubuntu-Medium-webfont.woff") format("woff"),
    	 url("../fonts/Ubuntu-Medium-webfont.woff2") format("woff2");    
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf")  format("truetype"),
         url("../fonts/Lifehack-webfont.eot"),
    	 url("../fonts/Lifehack-webfont.woff") format("woff"),
    	 url("../fonts/Lifehack-webfont.woff2") format("woff2");    
    font-weight: normal;
    font-style: normal;
}