.main-menu__url {
    color: white;
    white-space: nowrap;
}

.header>* {
    text-transform: uppercase;
    font-weight: 500;
    font-size: rem(13px);
}

.main-page {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0 0 0;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: rem(650px);
    max-width: 58.75rem;
    min-width: 18.75rem;
    @include phones {
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: rem(8px) 0 0 rem(80px);
    z-index: 99999999;
}

.menu {
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
}

.main-menu {
    @include tabletshelp {
        display: none;
    }
}

.main-menu__items {
    display: flex;
    height: rem(35px);
    margin-right: rem(-6px);
    letter-spacing: rem(0px);
}

.main-menu__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: rem(18px);
}

.main-menu__item:nth-of-type(-n+5):after {
    content: "";
    position: relative;
    margin-left: rem(16px);
    width: rem(2px);
    height: rem(2px);
    border: rem(1px) solid white;
    border-radius: 50%;
    background-color: white;
}

.order-button {
    padding: rem(13px) rem(16px);
    height: rem(35px);
    background-color: #e45028;
    border-radius: rem(4px);
    margin-right: rem(30px);
    padding-top: rem(10px);
    text-transform: uppercase;
    outline: none;
    border: rem(1px) solid transparent;
    cursor: pointer;
    &:hover {
        background-color: #c1401e;
    }
}

.burger-menu {
    display: none;
    position: relative;
    width: rem(24px);
    height: rem(22px);
    border-bottom: rem(4px) solid white;
    border-top: rem(4px) solid white;
    margin-right: rem(30px);
    &:after {
        position: absolute;
        width: rem(24px);
        height: rem(22px);
        top: rem(5px);
        left: 0;
        content: '';
        border-top: rem(4px) solid white;
    }
    @include tabletshelp {
        display: block;
    }
}

.table-wrapper {
    display: flex;
    height: 85%;
    justify-content: center;
    align-items: center;
}

.main-page__table {
    position: relative;
    display: flex;
    flex-direction: row;
    //width: rem(880px);
    //height: rem(342px);
    margin-top: rem(-90px);
    margin-left: rem(0px);
    justify-content: center;
    align-items: center;
    @include tabletshelp {
        flex-direction: column;
    }
    @include phones {
        width: 95%;
    }
}

.main-page__burger {
    position: relative;
    /*background-image: url(../images/drops.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(238px);*/
}

.main-page__burger_img {
    position: relative;
    //left: rem(35px);
    //top: rem(-70px);
    @include phones {
        width: 100%;
    }
}

.main-page__titles {
    display: flex;
    flex-direction: column;
    margin-left: rem(50px);
    margin-top: rem(60px);
    @include tabletshelp {
        margin-top: 0;
        text-align: center;
        width: 80%;
    }
}

.main-page__main_title {
    font-family: gagalin;
    font-size: rem(72px);
    color: #f9b43b;
    @include tabletshelp {}
    @include phones {
        font-size: rem(50px);
    }
}

.main-page__second_title {
    font-family: Lifehack;
    font-size: rem(65px);
    color: white;
    margin-top: rem(24px);
    line-height: rem(62px);
    letter-spacing: rem(-2px);
    @include phones {
        font-size: rem(50px);
    }
}

.main-page__down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(-41px);
}