.reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.c__review {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;    
}

.rew-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review {
    width: 25%;
    height: 50vh;
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center;    
    filter: grayscale(100%); 
}

.review__background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    z-index: 1;
}

.review__info {
    position: relative;
    display: none;
    flex-direction: column;
    z-index: 2;
}

.review__name {
    font-family: gagalin;
    font-size: 14px;
    color: white;
    margin-top: 45px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.review__text {
    font-family: ubuntu;
    font-weight: lighter;
    font-size: 14px;
    color: white;
    margin-left: 20px;
    margin-bottom: 23px;
    line-height: 24.5px;
    width: 85%;
}

.review__more {
    font-family: ubuntu;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    width: 110px;
    padding: 13px 15px;
    background-color: #2f3234;
    border-radius: 5px;
    margin-left: 20px;
    margin-left: 20px;
}

.review__more:hover {
    background-color: #1f2122;
}


.review1 {
    background-image: url(../images/r1.jpg);
}

.review2 {
    background-image: url(../images/r2.jpg);
}

.review3 {
    background-image: url(../images/r3.jpg);
}

.review4 {
    background-image: url(../images/r4.jpg);
}

.review5 {
    background-image: url(../images/r5.jpg);
}

.review6 {
    background-image: url(../images/r6.jpg);
}

.review7 {
    background-image: url(../images/r7.jpg);
}

.review8 {
    background-image: url(../images/r8.jpg);
}

.review:hover>.review__info {
    display: flex;
}

.review:hover>.review__background {
    display: block;
}